+b.modal_visual-editor-sub-sup(id="modal_visual-editor-sub-sup")
	+e.close(class="modal-close fa fa-times")
	+e.content(class="container")
		div Ø °
		+b.visual-editor_sub-sup#visual-editor_sub-sup
			+e.SPAN.val
				+e.INPUT.field_val(name="val" class="form-control" placeholder="З")
			+e.box-sub-sup
				+e.SUP.sup
					+e.INPUT.field_sup(name="sup" class="form-control" placeholder="В")
				+e.SUB.sub
					+e.INPUT.field_sub(name="sub" class="form-control" placeholder="Н")
			+e.BUTTON.btn#visual-editor__btn_sub-sup.btn.btn-primary Добавить