include menu/menu
include logo/logo
include menu-page/menu-page
include menu-column/menu-column
include menu-bread-crumbs/menu-bread-crumbs
include form/form_add-name
include form/form_add-name-type
include form/form_edit-name
include form/form_edit-name-type

include modal/modal_form-edit-name