mixin b-table_items-to-edit(data, cls, curUrl)
	if data
		+b.table_items-to-edit(class= cls + " table-responsive")
			+e.TABLE.table(class="table table-hover")
				thead
					tr
						th Название
						th Дата создания
						th Редактировать
				tbody
					each e in data
						+e.TR.row(class= e.status ? 'highlight-warning' : '')
							+e.TD.col_name= e.name
							+e.TD.col_date-create= e.date_create
							+e.TD.col_btn
								+e.A.btn(class="btn btn-success" href= curUrl + '/edit/id/' + e.id) Редактировать