mixin b-form_add-name(cls, api)
	+b.FORM.form_add-name(class= cls data-api= api)
		+e.group(class="form-group")
			+e.LABEL.label Название
			+e.INPUT.field(class="form-control" type="text" name="name" placeholder="Название" required)
		+e.alert(class="alert hidden")
		+e.box-btn
			+e.BUTTON.btn(class="btn btn-primary" type="submit") Отправить