mixin b-form_edit-name-type(data, dataSelect, cls, api)
	if data
		+b.FORM.form_edit-name-type(data-api=api)
			+e.INPUT.hidden(value=data.id type="hidden" name="id")
			
			+e.group(class="form-group")
				+e.LABEL.label Название
				+e.INPUT.field(value=data.name class="form-control" type="text" name="name" placeholder="Название" required)
				
			+e.group(class="form-group")
				+e.LABEL.label Привязать к категории
				+e.SELECT.select(class="form-control" name="id_type" required)
					each e in dataSelect
						+e.OPTION(value= e.id selected= e.id == data.id_category ? true : false).option= e.name

			+e.group(class="form-group")
				+e.LABEL.label Комментарий (не обязательное поле)
				+e.INPUT.field(value=data.remark class="form-control" type="text" name="remark" placeholder="Комментарий")

			+e.group(class="form-group form-check")
				+e.INPUT.checkbox(value="1" class="form-check-input" type="checkbox" name="status" checked= data.status ? true : false)
				+e.LABEL.label(class="form-check-label") Выделить цветом в общем списке

			+e.group(class="form-group form-check")
				+e.INPUT.checkbox(value="1" class="form-check-input" type="checkbox" name="del")
				+e.LABEL.label(class="form-check-label") Удалить

			+e.alert(class="alert hidden")
			+e.box-btn
				+e.BUTTON.btn(class="btn btn-primary" type="submit") Отправить