.form
	&_search
		display: flex
		.form__group
			flex-grow: 1
			margin: 10px
	&__box-btn
		text-align: right
	&__label,
	&__field,
	&__select,
	&__textarea
		margin: 0 10px
	&__label
		font-weight: 600
		margin-bottom: 5px